* {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}

body {
	background-color: #1c1d1d;
}

.content {
	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: start;
	flex-direction: column;
	gap: 40px;
	align-items: center;
}

@media screen and (min-width: 992px) {
	.content {
		max-width: 992px;
		height: auto;
		margin: 1rem auto;
		border-radius: 1rem;
	}
}
